<h1>What's on your mind?</h1>

<div class = "main-add-icon-container">
    <%= link_to new_blog_post_path do %>
    <span><i class="fa-solid fa-circle-plus main-add-icon"></i></span>
    <% end %>
</div>

<% @blog_posts.reverse.each do |blog_post| %>
    
    <p><%= link_to blog_post.title, blog_post, class: "title" %></p>
    <div class="post">
    <%= blog_post.body %> 
    <span class="post-date-time"> 
        <%= blog_post.created_at.in_time_zone(Time.zone.name).strftime("%m-%d-%y %I:%M")%>
    </span>
    </div>
<% end %>