<h1>New Blog Post</h1>
<%= render partial: 'form', locals: {blog_post: @blog_post}%>
<div>
    <%=link_to "See all Posts", root_path if user_signed_in? %>
</div>

<%# 
    <%= link_to "Add new entry", new_blog_post_path %>